/* ---GENERAL STYLE ---*/

body {
    font-size: 14px;
    color: #383838;
    font-family: 'Varela Round', sans-serif;
    background: url(assets/images/bg.png) repeat fixed;
}
body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
    margin: 0 0 20px;
    color: #393939;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: #383838;
}
p a {
    color: #383838;
}
p a:hover {
    text-decoration: underline;
    outline: none;
}
p {
    letter-spacing: normal;
    margin: 0 0 20px;
    line-height: 22px;
    font-size: 14px;
    color: #383838;
}
a {
    color: #383838;
    text-decoration: none;
    outline: none;
    display: block;
}
a:hover,
a:focus,
a:active {
    outline: none;
    text-decoration: none;
}
.row.no-gutters {
    margin-right: 0;
    margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
    padding-right: 0;
    padding-left: 0;
}
img {
    max-width: 100%;
}
iframe {
    border: 0;
    width: 100%;
}
button {
    background: none;
}
blockquote {
    padding: 0;
    border: 0;
}
label {
    display: block;
    font-weight: 400;
    margin: 0;
}
textarea {
    border-radius: 0!important;
    resize: none;
}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
input,
.form-control {
    border: 0;
    height: 48px;
    line-height: 48px;
    width: 100%;
    border-radius: 0;
    color: #ccc;
    background: none;
    padding: 0 15px;
    font-size: 16px;
    border: 2px solid #d0d0d0;
}

/* ---GENERAL STYLE END---*/


/* ---ELEMENTS STYLED ---*/

.main-heading-holder {
    width: 100%;
    float: left;
    text-align: center;
}
.main-heading {
    display: inline-block;
    padding: 0 0 50px;
}
.main-heading .heading-star {
    margin: 0 0 30px;
    font-size: 30px;
    display: block;
}
.main-heading h2 {
    line-height: 24px;
    margin: 0 0 15px;
    text-transform: uppercase;
}
.main-heading p {
    margin: 0;
}
.main-heading.left {
    float: left;
    text-align: left;
}
.main-heading.left h2 {
    text-transform: capitalize;
}
.main-heading-holder.white h2 {
    color: #fff;
}
.main-heading-holder.white h2::before {
    border-color: #555761!important;
}
.main-heading-holder.white p {
    color: #fff;
}
.main-heading-holder.style-2 h2 {
    font-size: 36px;
    font-weight: 300;
    position: relative;
    padding: 0 0 25px;
    margin: 0 0 20px;
}
.main-heading-holder.style-2 h2::before {
    content: "";
    position: absolute;
    bottom: 0;
    border-bottom: 1px solid;
    width: 164px;
    left: 50%;
    margin: 0 0 0 -80px;
}
.btn {
    height: 48px;
    line-height: 48px;
    text-align: center;
    padding: 0 30px;
    min-width: 180px;
    font-size: 13px;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    border-radius: 0;
}
.btn.radius-4 {
    border-radius: 4px;
}
.btn.sm {
    height: 32px;
    line-height: 32px;
    min-width: 110px;
}
.btn:hover {
    background: #1341b7;
    color: #fff;
}
.btn.dark {
    background: #408806;
}
.btn.lg {
    height: 60px;
    line-height: 60px;
    min-width: 200px;
    font-size: 16px;
    border-radius: 3px;
}
.btn.full-width {
    width: 100%!important;
}
.btn.light {
    background: none;
    border: 1px solid #d7d7d7;
    color: #6b6e7b;
    font-weight: normal;
    text-transform: capitalize;
}
.btn i {
    margin: 0 10px 0 0;
}
.btn.light:hover {
    color: #fff;
}
.btn.xs.lg {
    min-width: 262px;
}
.pagination-holder {
    text-align: center;
    position: relative;
}
.pagination-holder.border-top {
    border-top: 1px solid #e7e7e7;
    padding: 30px 0 0;
}
.pagination-holder ul {
    display: inline-block;
    margin: 0;
}
.pagination-holder ul li a {
    height: 40px;
    line-height: 40px;
    width: 40px;
    border-radius: 100%!important;
    text-align: center;
}
.pagination-holder ul li:first-child a,
.pagination-holder ul li:last-child a {
    border-radius: 4px!important;
    min-width: 122px;
}
.pagination-holder ul li:first-child a {
    position: absolute;
    left: 0;
}
.pagination-holder ul li:last-child a {
    position: absolute;
    right: 0;
}
.pagination-holder ul li {
    margin: 0 0 0 10px;
    float: left;
}
.pagination-holder ul li:first-child {
    margin: 0;
}
.pagination-holder ul li a,
{
    color: #fff;
}
.pagination-holder ul li.active a,
.pagination-holder ul li a:hover {
    color: #fff;
}
.tc-breadcrumb ul {
    display: inline-block;
}
.tc-breadcrumb li {
    float: left;
    color: #656565;
    font-family: 'Lato', sans-serif;
}
.tc-breadcrumb li a {
    float: left;
    font-weight: bold;
}
.tc-breadcrumb li::before {
    float: left;
    line-height: 22px;
    content: "\f111";
    font-family: fontawesome;
    margin: 0 10px;
    font-size: 7px;
}
.tc-breadcrumb li:first-child::before {
    display: none;
    margin: 0;
}
.social-icons {
    overflow: hidden;
}
.social-icons li {
    float: left;
    margin: 0 0 0 10px;
}
.social-icons li:first-child {
    margin: 0;
}
.social-icons li a {
    color: #ccc;
    font-size: 24px;
}
.rating-stars ul li {
    float: left;
    margin: 0 0 0 7px;
}
.rating-stars ul li:first-child {
    margin: 0
}
.rating-stars ul li i {
    color: #ffd200;
}
.overlay-dark {
    position: relative;
}
.overlay-dark::before,
.overlay-dark::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
}
.position-center-center {
    left: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.position-center-x {
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
}
.position-center-y {
    left: 50%;
    position: absolute;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}
.p-absolute {
    position: absolute;
}
.p-relative {
    position: relative;
}
.z-index-1 {
    z-index: 1;
}
.z-index-2 {
    z-index: 2;
}
.font-varela {
    font-family: 'Varela Round', sans-serif;
}
.font-montserrat {
    font-family: 'Montserrat', sans-serif;
}
.font-cinzel {
    font-family: 'Cinzel', serif;
}
.white-bg {
    background: #fff;
}
.gray-bg {
    background: #ebebeb;
}
.text-white {
    color: #fff;
}
.font-bold {
    font-weight: bold;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.d-inline-block {
    display: inline-block;
}
.d-block {
    display: block;
}
.h-white h1,
.h-white h2,
.h-white h3,
.h-white h4,
.h-white h5,
.h-white h6 {
    color: #fff;
}
.p-white p {
    color: #fff;
}
.h-m-0 h1,
.h-m-0 h2,
.h-m-0 h3,
.h-m-0 h4,
.h-m-0 h5,
.h-m-0 h6 {
    margin: 0;
}
.p-m-0 p {
    margin: 0;
}
.h-white h1 a,
.h-white h2 a,
.h-white h3 a,
.h-white h4 a,
.h-white h5 a,
.h-white h6 a {
    color: #fff;
}
.p-white p {
    color: #fff;
}
.h-m-0 h1 a,
.h-m-0 h2 a,
.h-m-0 h3 a,
.h-m-0 h4 a,
.h-m-0 h5 a,
.h-m-0 h6 a {
    margin: 0;
}
.p-m-0 p a {
    margin: 0;
}
.navbar-brand {
    height: auto;
    width: auto;
    padding: 0;
}
.tc-padding-top {
    padding-top: 80px;
}
.tc-padding-bottom {
    padding-bottom: 80px;
}
.tc-padding {
    padding: 80px 0;
}
.tc-margin {
    margin: 80px 0;
}
.tc-margin-top {
    margin-top: 80px;
}
.tc-margin-bottom {
    margin-bottom: 80px;
}
.btn-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.btn-list li {
    float: left;
    margin: 0 0 0 30px;
    width: 46%;
}
.btn-list li:first-child {
    margin: 0;
}
.overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.m-0 {
    margin: 0!important;
}
.p-0 {
    padding: 0!important;
}
.border-0 {
    border: 0!important;
}
.m-lef-0 {
    margin-left: 0;
}
.m-right-0 {
    margin-right: 0;
}
.mt-50 {
    margin: 50px 0 0;
}
.w-100-pre {
    width: 100%;
}
.h-100-pre {
    height: 100%;
}
.has-layout {
    float: left;
    width: 100%;
}
.f-bold {
    font-weight: bold;
}
.display-inline {
    display: inline-block;
}
.after-clear::after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.slick-list {
    margin: 0 -15px;
    overflow: hidden;
}
.slick-list .slick-slide {
    margin: 0 15px;
}

/* ---ELEMENTS STYLED END---*/


/* ---HOME/INDEX PAGE ---*/

.wrapper {
    max-width: 1300px;
    margin: 0 auto;
    top: 0px;
    position: relative;
    overflow: hidden;
    background: #fff;
    z-index: 1;
    -webkit-box-shadow: 0px 6px 12px 0px rgba(255, 255, 255, 0.10);
    -moz-box-shadow: 0px 6px 12px 0px rgba(255, 255, 255, 0.10);
    box-shadow: 0px 6px 12px 0px rgba(255, 255, 255, 0.10);
}
.wrapper-dark {
    opacity: 0.5;
}

/* Nav Holder */

.nav-holder {
    background: #408806;
}

/* Nav List */

.nav-inner {
    background: #1341b7;
    border-radius: 0 0 3px 3px;
}
.nav-list {
    float: left;
}
.nav-list > li {
    float: left;
    position: relative;
}
.nav-list > li:first-child {
    margin: 0;
}
.nav-list > li > a {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px!important;
    padding: 16px 20px;
    text-transform: uppercase;
    color: #408806;
    font-weight: bold;
}
.slicknav_menu {
    display: none;
}
.nav-list > li:hover ul {
    visibility: visible;
    opacity: 1;
}
.nav-list > li:hover ul li {
    margin: 0;
}
.nav-list > li > ul {
    position: absolute;
    z-index: 100;
    top: 100%;
    width: 200px;
    border-top: 2px solid transparent;
    visibility: hidden;
    opacity: 0;
}
.nav-list > li > ul li {
    border-bottom: 2px solid transparent;
    margin: 5px 0;
}
.nav-list > li > ul li a {
    padding: 10px;
    background: #1341b7;
    color: rgba(255, 255, 255, 0.8);
    font-weight: bold;
}
.nav-list > li > ul li a:hover {
    margin: 0 0 0 10px;
}
.language-dropdown {
    display: inline-block;
    float: right;
    line-height: 16px;
}
.language-dropdown li a {
    padding: 20px;
}
.year-quest {
    text-align: center;
    padding: 30px 0;
}
.year-quest span {
    font-size: 26px;
    color: #fff;
    line-height: 20px;
}
.year-quest span em {
    margin: 0 20px;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
}

/*ACT OVERLAY HOVER EVENT*/


/* Banner *
.banner{ position: relative;} 
.banner > img{ width: 100%;}
.banner-overay{ position: absolute; height: 100%; width: 100%; left: 0; top: 0;}
.banner-layer{ margin: -22px 0 0;}

.caption{ padding: 90px 0 0;}
.caption h1{ font-size: 50px; margin: 0 0 10px; font-weight: normal;}
.caption h1 span{ display: block;}
.caption h1 del{ color: #1341b7;}
.caption p{ line-height: 26px; font-size: 15px;}

/* ---MAIN CONTENT---


/* About Contribution */

.contribution-wigdet {
    padding: 40px 0 0;
}
.contribution-wigdet > span {
    display: block;
    margin: 0 0 15px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}
.contribution-wigdet h4 {
    font-size: 22px;
}
.contribution-wigdet p a {
    display: inline-block;
    color: #408806;
}
.contribution-wigdet p:last-child {
    margin: 0;
}
.join-us form .form-group.width-btn {
    overflow: hidden;
    margin: 0;
}
.join-us form .form-group.width-btn input {
    width: 50%;
    float: left;
}
.join-us form .form-group.width-btn .btn {
    min-width: 40%;
    float: right;
}
.join-us p {
    margin: 0 0 32px;
}
.contribution-tabs {
    position: relative;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.41);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.41);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.41);
}
.contribution-tabs .nav-tabs {
    overflow: hidden;
    border: 0;
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 100%;
}
.contribution-tabs .nav-tabs li {
    width: 50%;
}
.contribution-tabs .nav-tabs li a {
    font-weight: bold;
    padding: 20px 0;
    margin: 0;
    text-align: center;
    border: 0;
    background: #fff;
    border-radius: 0;
    border: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
}
.contribution-tabs .nav-tabs li.active a {
    background: #408806;
    border-radius: 0;
    border: 0;
    color: #fff;
}
.contribution-tabs .content-wigdet {
    padding: 40px 30px 33px;
    text-align: center;
}
.contribution-tabs .content-wigdet strong {
    font-size: 50px;
    font-weight: bold;
    line-height: 30px;
    margin: 0 0 20px;
    display: block;
}
.contribution-tabs .content-wigdet p {
    text-transform: uppercase;
}
.contribution-tabs .range-slider {
    margin: 0 0 20px;
    padding: 22px 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-left: 0;
    border-right: 0;
}
.range-slider .rangeslider {
    background: #b7aea3;
    box-shadow: none;
}
.range-slider .rangeslider__fill {}
.range-slider .rangeslider--horizontal {
    height: 10px;
}
.range-slider .rangeslider__handle::after {
    background: none;
}
.range-slider .rangeslider__handle {
    height: 24px;
    line-height: 24px;
    box-shadow: none;
    border: 1px solid #d0d0d0;
    border-radius: 3px;
    background: #fff;
    width: auto;
    padding: 0 10px;
    top: -7px!important;
    font-size: 11px;
}
.click-users {
    float: left;
    width: 100%;
    margin: 0 0 36px;
}
.click-users li {
    float: left;
}
.click-users li a {
    font-size: 40px;
    letter-spacing: -12px;
}

/* Quick Links */

.quick-links-figure {
    position: relative;
}
.quick-links-figure .overlay {
    text-align: center;
    background: rgba(255, 255, 255, 0.1);
}
.quick-links-figure .overlay > div {
    width: 100%;
}
.quick-links-figure .overlay h5 {
    text-transform: uppercase;
    margin: 0 0 5px;
    font-size: 800px;
    color: #fff;
}
.quick-links-figure .overlay span {
    text-transform: uppercase;
    margin: 0 0 5px;
    font-size: 22px;
    color: #fff;
    font-weight: 800;
    text-transform: uppercase;
}
.quick-links-figure > img {
    width: 100%;
}
Quick Links Style 2 * .quick-links-figure::before {
    content: "";
    position: absolute;
    left: -10px;
    top: -10px;
    height: 112%;
    width: 107%;
    border: 10px solid;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
}
.quick-links-figure:hover::before {
    visibility: visible;
}
.quick-links-figure:hover {
    -webkit-box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.14);
    -moz-box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.14);
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.14);
}

/* Quick Links Style 3 */

.quick-links-figure.style-2::before {
    display: none;
}
.quick-links-figure.style-2 h3 {
    margin: 0;
    font-size: 200px;
    color: #fff;
    font-weight: 800;
    text-transform: uppercase;
}
.quick-links-figure.style-2 span {
    visibility: visible;
    margin: 0;
    font-size: 22px;
    color: #fff;
    font-weight: 800;
    text-transform: uppercase;
}
.quick-links-figure.style-2 .overlay {
    background: rgba(19, 65, 183, 0.8);
}
.tooltip {
    display: none;
    position: absolute;
    border: 1px solid #333;
    background-color: #161616;
    border-radius: 5px;
    padding: 10px;
    color: #fff;
    font-size: 12px Arial;
}

/*
About-Ken Section
*/

about-ken {
    margin: 200px 200px auto;
}
.about-ken > span {
    display: block;
    margin: 0px 0px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}
.about-ken h3 {
    font-size: 22px;
}
.about-ken p a {
    display: inline-block;
    color: #408806;
    font-size: 18px;
}
.about-ken p:last-child {
    margin: 0;
}

/* Video Section */

.video-section {
    position: relative;
}
.video-section::before {
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    top: 0;
    background: rgba(48, 58, 84, 0.5);
}
.about-video {
    padding: 30px;
    border: 2px solid #fff;
}
.about-video h2 {
    font-size: 50px;
}
.about-video h3 {
    font-size: 22px;
}
.about-video .btn {
    float: right;
    margin: 0 -100px 0 0;
}
.play-icon {
    border: 2px solid #fff;
    color: #fff;
    height: 113px;
    line-height: 145px;
    margin: -32px 0 0;
    position: absolute;
    right: 16px;
    text-align: center;
    width: 163px;
}
.play-icon i {
    font-size: 50px;
}
.play-icon span {
    position: absolute;
    top: 100%;
    height: 47px;
    width: 100%;
    text-align: center;
    left: 0;
    line-height: 47px;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: bold;
}
.play-icon:hover {
    color: #fff;
}

/* Services */

.services-column {
    text-align: center;
    margin: 15px 0;
    padding: 0 40px;
}
.services-column:hover img:first-child {
    transform: scale(1.1);
}
.services-icon {
    display: inline-block;
    position: relative;
    margin: 0 0 30px;
}
.services-icon i {
    color: #fff;
    font-size: 80px;
    font-weight: bold;
}
.services-column h5 {
    text-transform: uppercase;
    font-size: 16px;
}
.services-column p {
    font-size: 16px;
}
.servics-btns {
    display: inline-block;
    margin: 40px 0 0;
}

/* TESTIMONIALS 

.testimonial {
    padding: 60px 0;
    height: 430px;
}
.testimonial-content {
    text-align: center;
}
.testimonial-content > div > img {
    margin: 0 0 30px;
}
.testimonial-content h2 {
    font-size: 40px;
    text-transform: uppercase;
}
.testimonial-content p {
    font-size: 20px;
    line-height: 30px;
}

/* SCOREBOARD */

.facts-lsit li {
    position: relative;
    z-index: 2;
}
.facts-lsit li::before {
    content: "";
    position: absolute;
    left: -30px;
    top: -30px;
    height: 140px;
    width: 115px;
    border: 1px solid #d1e6ff;
    z-index: -1;
}
.facts-lsit li {
    float: left;
    width: 25%;
}
.facts-lsit li h6 {
    font-size: 14px;
    text-transform: uppercase;
    color: #7f7f7f;
}
.facts-lsit li h2 {
    margin: 0;
    font-size: 46px;
    display: inline-block;
}
.facts-lsit li span {
    font-size: 46px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    line-height: 0;
}

/* FOOT */

.footer {
    position: relative;
    z-index: 2;
    background: #408806;
    overflow: hidden;
}

/* SUBSCRIBE */

.subscribe {
    padding: 40px 40px 40px 40px;
    position: relative;
    background: #1341b7;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}
.subscribe::before {
    content: "";
    position: relative;
    right: 100%;
    top: -1px;
    height: 101%;
    width: 100%;
    background: #1341b7;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}
.subscribe h4 {
    margin: 0 0 15px;
    font-size: 18px;
    text-transform: uppercase;
    color: #fff;
}
.subscribe form .form-control {
    float: left;
    width: 70%;
    height: 60px;
    line-height: 60px;
    background: #fff;
    color: #e6e6e6;
    border: 0;
    border-radius: 7px;
}
.subscribe form .btn {
    float: right;
    min-width: 180px!important;
}
.social-icons.style-2 li a {
    height: 32px;
    width: 32px;
    line-height: 32px;
    font-size: 18px;
    border-radius: 100%;
    background: #fff;
    color: #2d303c!important;
    text-align: center;
}
.social-icons.style-2 li a:hover {
    background: #408806;
    color: #fff!important;
}

/* FOOT SOCIAL */

.footer-social {
    overflow: hidden;
    padding: 30px 30px 30px;
}
.footer-social .social-icons {
    float: left;
}
.footer-social .social-icons li a {
    color: #fff;
}
.footer-social .social-icons li a:hover {
    color: #fff;
}
.footer-social p {
    float: left;
    margin: 6px 0 0 40px;
    color: #e6e6e6;
    font-size: 13px;
}

/* New Figure*/

.new-figure.style-2 {
    padding: 0 20px 50px;
    background: #f6f6f7;
    margin: 0 0 30px;
}
.new-figure.style-2 h4 {
    line-height: 22px;
    font-weight: normal;
    margin: 0 0 40px;
}
.new-figure.style-2 .share-options {
    margin: 0;
}
.new-figure.style-2 .share-options .read-more {
    float: none;
    margin: 0 0 20px;
}
.new-figure.style-2 .share-options ul {
    float: none;
    margin: 0;
}

/* Event campgain */

.inner-banner.event {
    padding: 0;
}
.inner-banner.event .event-map {
    height: 418px;
}
.event-campgain {
    position: relative;
    overflow: hidden;
}
.campgain-list-holder {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}
.campgain-list-holder .left-heading {
    border: 0;
}
.campgain-list-holder .left-heading h2 {
    font-size: 34px;
    line-height: 40px;
    font-weight: normal;
}
.campgain-list {
    background: #f3f3f3;
    position: relative;
    padding: 54px 0 0;
}
.campgain-list::before {
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    width: 999px;
    left: 100%;
    background: #f3f3f3;
}
.campgain-list ul li {
    padding: 0 0 30px 70px;
    margin: 0 0 30px;
    overflow: hidden;
    border-bottom: 1px solid #d0d1d4;
}
.campgain-list ul li:last-child {
    margin: 0;
}
.campgain-list .date,
.campgain-list .detail,
.campgain-list .donation-target {
    display: inline-block;
}
.campgain-list .date {
    margin: 0 30px 0 0;
    line-height: 40px;
    vertical-align: top;
    font-size: 40px;
    font-weight: bold;
}
.campgain-list .date span {
    display: block;
    text-align: center;
    font-weight: normal;
}
.campgain-list .detail {
    margin: 0 30px 0 0;
}
.campgain-list .detail p {
    font-size: 18px;
    margin: 0 0 10px;
}
.campgain-list .detail h4 {
    font-size: 20px;
    margin: 0 0 14px;
}
.campgain-list .detail span {
    font-size: 18px;
    color: #383838;
}
.campgain-list .detail span i {
    margin: 0 10px 0 0;
    color: #bdbdbd;
}
.campgain-list .donation-target {
    font-size: 16px;
    margin: 30px 0 0;
    vertical-align: top;
    float: right;
}
.campgain-list .donation-target span {
    font-size: 20px;
    display: block;
}
.campgain-list .btn {
    border: 0;
}

/* FORMS STYLED */

.forms-section {
    background: #e8ecfa;
}
.slide-form {
    margin: -100% 0 0;
    display: none;
}
.open-form {
    margin: 0;
    display: block;
}
.form-widget {
    padding: 65px 80px;
}
.joining-form::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(19, 65, 183, 0.9);
}
.form-widget .form-title {
    margin: 0 0 40px;
}
.form-widget .form-title span {
    color: #fff;
    font-size: 16px;
    display: block;
    margin: 0 0 10px;
    font-weight: bold;
    display: block;
}
.form-widget .form-title h2 {
    font-size: 35px;
    margin: 0;
    line-height: 30px;
    text-transform: uppercase;
}
#joining-form .form-group {
    margin: 0 0 30px;
}
#joining-form .form-control {
    height: 58px;
    line-height: 58px;
    border: 1px solid #dadada;
    color: #dadada;
    font-size: 14px;
}
#joining-form .form-control::-webkit-input-placeholder {
    color: #fff;
}
#joining-form .form-control:-moz-placeholder {
    color: #fff;
}
#joining-form .form-control::-moz-placeholder {
    color: #fff;
}
#joining-form .form-control:-ms-input-placeholder {
    color: #fff;
}
.donate-form {
    padding: 65px 66px 0 40px;
}
.donate-form .form-title span {
    color: #131e36;
}
.donate-form .form-title h2 {
    color: #131e36;
}
.donate-form p {
    color: #131e36;
    font-weight: bold;
    font-size: 15px;
}
.subscribe.style-2 {
    background: none;
    border: 0;
}
.subscribe.style-2::before {
    display: none;
}
.subscribe.style-2 form .form-control {
    width: 100%;
    float: none;
}
.subscribe.style-2 form .btn {
    float: none;
}
.select-amount-holder {
    overflow: hidden;
    padding: 0 0 20px;
    margin: 0 0 30px;
}
.select-amount {
    position: relative;
}
.select-amount {
    width: 89px;
    font-size: 22px;
    float: left;
    background: #fff;
    height: 60px;
    border: 1px solid #dadada;
    margin: 0 0 0 20px;
    border-radius: 4px;
}
.select-amount:first-child {
    margin: 0;
}
.select-amount input {
    width: 100%;
    height: 60px;
    opacity: 0;
    margin: 0;
    position: relative;
    z-index: 2;
    cursor: pointer;
}
.form-quotation .select-amount label {
    top: 0;
    left: 0;
    color: #131e36;
    width: 100%;
    height: 100%;
    font-size: 13px;
    padding: 69px 0 0;
    position: absolute;
    pointer-events: none;
    text-transform: capitalize;
}
.form-quotation .item:last-child label {
    border-right: 0;
}
.select-amount label span {
    z-index: 1;
    font-weight: bold;
}
.select-amount input:checked + label span {
    color: #99c553;
}
.select-amount input:checked + label::before {
    content: "";
    position: absolute;
    font-family: fontawesome;
    height: 100%;
    width: 100%;
    border: 3px solid #99c553;
    top: 0;
    left: 0;
}
.select-amount input:checked + label::after {
    content: "\f00c";
    position: absolute;
    font-family: fontawesome;
    height: 20px;
    width: 100%;
    top: 100%;
    left: 0;
    background: #99c553;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color: #fff;
    border-radius: 0 0 4px 4px;
}
.donate-type {
    overflow: hidden;
    margin: 0 0 30px;
}
.donate-type > div {
    float: left;
    margin: 0 20px 0 0;
}
.donate-type > div > label {
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 0 15px;
    color: #131e36;
    cursor: pointer;
}
.donate-type > .btn {
    min-width: 86px;
    height: 56px;
    line-height: 56px;
    font-size: 20px;
    margin: 35px 0 0;
}
.enter-your-own {
    width: 202px;
}
.enter-your-own input {
    background: #fff;
    border: 1px solid #dadada;
    border-radius: 4px;
    font-weight: bold;
    height: 56px;
}
.donate-type .btn i {
    margin: 0;
}
.footer.style-2 .subscribe.style-2 h4 {
    font-size: 16px;
    font-family: "Montserrat", sans-serif!important;
}

/* RESPONSIVE NAVIGATION*/

.sticky-nav {
    position: fixed;
    left: 0;
    z-index: 100;
}
.sticky-nav h2 {
    padding: 20px 52px;
    line-height: 30px;
    font-size: 20px;
    color: #fff;
    margin: 0;
    float: left;
    position: relative;
    z-index: 2;
}
.sticky-nav .icon-bar {
    float: left;
    width: 90px;
    height: 70px;
    position: relative;
    background: #1341b7;
}
.sticky-nav .icon-bar span {
    height: 3px;
    width: 28px;
    background: #fff;
    display: block;
    position: absolute;
    left: 50%;
    margin: 0 0 0 -13px;
    -webkit-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -ms-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
    transition: all 2s ease-in-out;
}
.icon-bar .bar-1 {
    top: 40%;
}
.icon-bar .bar-2 {
    top: 50%;
}
.icon-bar .bar-3 {
    top: 60%;
}
.sticky-nav .nav-list {
    border-bottom: 1px solid rgb(249, 0, 0, 0.3);
    height: 70px;
    line-height: 20px;
    margin: 0 0 0 -100%;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.7s ease-in-out;
    -moz-transition: all 0.7s ease-in-out;
    -ms-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    transition: all 1s ease-in-out;
}
.sticky-nav .nav-list > li > a {
    padding: 23px 25.54%;
}
.sticky-nav.open-nav .nav-list {
    margin: 0;
    visibility: visible;
    background: #fff;
    opacity: 1;
    border: none;
}
.sticky-nav.open-nav .icon-bar .bar-1 {
    margin: 0 0 0 -14px!important;
    top: 50%;
    -ms-transform: rotate(50deg);
    -webkit-transform: rotate(50deg);
    transform: rotate(50deg);
}
.sticky-nav.open-nav .icon-bar .bar-2 {
    visibility: hidden;
    opacity: 0;
    margin: 0 0 0 -100px;
}
.sticky-nav.open-nav .icon-bar .bar-3 {
    margin: 0 0 0 -14px!important;
    top: 50%;
    -ms-transform: rotate(-50deg);
    -webkit-transform: rotate(-50deg);
    transform: rotate(-50deg);
}
.sticky-nav .nav-list > li > ul li a {
    background: #fff;
}

/* VIDEOS */

.gallery-figure.style-3 {
    border: 0!important;
    border-radius: 0;
    margin: 15px 0;
}
.gallery-figure.style-3 .play-icon {
    height: 60px;
    line-height: 70px;
    width: 90px;
    margin: 0;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.6);
    border: 0;
    left: 80%;
    top: 80%;
}
.gallery-figure.style-3:hover .play-icon {
    left: 50%;
    top: 50%;
}
.gallery-figure.style-3 .play-icon i {
    font-size: 25px;
    color: rgba(0, 0, 0, 0.4);
}

/* CAREER HISTORY/TIMELINE */

.timeline-slider::before {
    content: "";
    position: absolute;
    width: 999%;
    border-bottom: 1px solid #e1e1e4;
    right: -100%;
    top: 18px;
}
.timeline-slider {
    float: left;
    width: 100%;
    position: relative;
}
.timeline-slider li {
    display: inline-block;
    padding: 40px 0 0;
}
.timeline-figure > span {
    font-size: 18px;
    margin: 0 0 50px;
    display: block;
    position: relative;
    line-height: 14px;
    padding: 0 0 0 20px;
}
.timeline-figure > span::before {
    content: "";
    position: absolute;
    width: 5px;
    height: 55px;
    background: #e1e1e4;
    bottom: 0;
    left: 0;
}
.timeline-figure .detail {
    padding: 0 30px 0 0;
}
.timeline-figure .detail img {
    margin: 0 0 25px;
}
.timeline-figure .detail h4 {
    font-size: 18px;
    text-transform: uppercase;
    color: #666;
    font-weight: 100;
}
.timeline-slider .slick-arrow {
    height: 40px;
    width: 40px;
    text-align: center;
    border-radius: 100%;
    border: 3px solid #c9c9ce;
    z-index: 10;
    color: #c9c9ce;
    display: inline-block;
    line-height: 33px;
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    top: 0;
    background: #fff;
    -webkit-box-shadow: 0px 0px 4px 0px rgba(50, 50, 50, 0.31);
    -moz-box-shadow: 0px 0px 4px 0px rgba(50, 50, 50, 0.31);
    box-shadow: 0px 0px 4px 0px rgba(50, 50, 50, 0.31);
}
.timeline-slider .slick-arrow i {
    font-weight: bold;
}
.timeline-slider .slick-arrow.slick-prev {
    right: 45px;
}
.timeline-slider .slick-arrow.slick-next {
    right: 0;
}

/* Facts Section 3 */

.fact-section-holder.style {
    border: 0;
    background-size: cover;
}

/*.fact-section-holder.style-3 .main-heading-holder p{ font-size: 18px; line-height: 30px;}*/

.facts-lsit.style-3 ul li {
    width: 23%;
    border: 1px solid #fff;
    padding: 30px 40px;
    margin: 0 0 0 30px;
}
.facts-lsit.style-3 ul li span,
.facts-lsit.style-3 ul li h6,
.facts-lsit.style-3 ul li h2 {
    color: #fff;
    font-weight: 100;
}
.facts-lsit.style-3 ul li h2 {
    line-height: 37px;
}
.facts-lsit.style-3 ul li h6 {
    font-size: 18px;
}
.facts-lsit.style-3 ul li span {
    font-family: 'Abel', sans-serif!important;
}
.facts-lsit.style-3 ul li:first-child {
    margin: 0;
}
.facts-lsit.style-3 ul li::before {
    display: none;
}

/****** Inner Banner ***********************************************************
*********************************************************** Inner Banner ******/

.nav-holder.inner {
    background: none;
    position: absolute;
    width: 100%;
    z-index: 3;
}
.inner-banner {
    padding: 130px 0 80px;
}
.page-heading h2 {
    font-size: 46px;
}
.page-heading p {
    font-size: 16px;
}
.page-heading.center {
    text-align: center;
}

/* SLIDE POST */

.post-slider {
    overflow: hidden;
    text-align: center;
}
.post-slider li {
    display: inline-block;
    margin: 0 0 20px;
}
.post-slider .slick-dots {
    margin: 20px 0 0;
}
.post-slider .slick-dots li {
    height: 10px;
    width: 10px;
    border-radius: 100%;
    background: #b5b5b5;
    cursor: pointer;
    margin: 0 0 0 10px;
}
.post-slider .slick-dots {
    display: inline-block;
    line-height: 0;
}
.post-slider .slick-dots li:first-child {
    margin: 0;
}
.supporter-list {
    margin: 0 0 0 -22.5px;
}
.supporter-list li {
    float: left;
    margin: 11px 0 11px 22.5px;
    position: relative;
}
.supporter-list li img {
    border-radius: 4px;
    border: 3px solid transparent;
}
.join-btn .btn {
    border-radius: 40px;
    margin: 30px 0 0;
}
.supporter-list li:hover img {
    transform: scale(1.2);
    border: 3px solid #c4c4c4;
}
.supporter-list li a .toltip {
    position: absolute;
    top: 130%;
    padding: 7px 10px;
    color: #fff;
    font-size: 14px;
    min-width: 100px;
    z-index: 100;
    visibility: hidden;
    opacity: 0;
    text-align: center;
    left: -16px;
    border-radius: 4px;
}
.supporter-list li a .toltip::before {
    content: "\f0d8";
    position: absolute;
    left: 50%;
    bottom: 100%;
    color: #000;
    font-family: fontawesome;
    font-size: 40px;
    margin: 0 0 -27px -12px;
}
.supporter-list li a:hover .toltip {
    opacity: 1;
    visibility: visible;
    top: 118%;
}
.supporter-list.style-2 .toltip {
    font-size: 12px!important;
}

/* Gallery Detail */

.inner-banner.gallery {
    min-height: 480px;
}
.gallery.style-2 {
    min-height: 450px;
}
.gallery.style-2 .page-heading h2 {
    font-size: 40px;
}
.gallery-thumnail {
    position: relative;
    margin: 0 0 40px;
    border-radius: 4px;
    -webkit-box-shadow: 0px -1px 9px 0px rgba(50, 50, 50, 0.31);
    -moz-box-shadow: 0px -1px 9px 0px rgba(50, 50, 50, 0.31);
    box-shadow: 0px -1px 9px 0px rgba(50, 50, 50, 0.31);
}
.gallery-slider {
    border: 5px solid #fff;
    border-radius: 4px;
}
.gallery-slider li {
    display: inline-block;
}
.gallery-slider li img {
    width: 100%;
}
.gallery-slider .slick-list {
    margin: 0;
}
.gallery-slider .slick-slide {
    margin: 0;
}
.gallery-slider-thumb {
    padding: 10px 50px;
    border-top: 1px solid #d6d6d6;
}
.gallery-slider-thumb li {
    display: inline-block;
    position: relative;
}
.gallery-slider-thumb li img {
    cursor: pointer;
    width: 100%;
}
.gallery-slider-thumb li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
}
.gallery-slider-thumb li.slick-current.slick-active::before {
    background: rgba(0, 0, 0, 0);
}
.gallery-slider-thumb .slick-list {
    padding: 0!important;
}
.gallery-slider-thumb .slick-list {
    margin: 0 -5px;
}
.gallery-slider-thumb .slick-slide {
    margin: 0 5px;
}
.nav-arrows {
    width: 40px;
    bottom: 0;
    height: 16%;
    line-height: 145px;
    background: #000;
    position: absolute;
    background: #fff;
    border-top: 1px solid #d6d6d6;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
}
.nav-arrows.prev {
    left: 0;
    border-right: 1px solid #d6d6d6;
}
.nav-arrows.next {
    right: 0;
    border-left: 1px solid #d6d6d6;
}
.share-option {
    text-align: center;
    overflow: hidden;
    margin: -300px 0 0;
    padding: 24px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
}
.share-option .prev i,
.share-option .next i {
    color: #fff;
    font-size: 30px;
    vertical-align: middle;
}
.share-option .next i {
    margin: -5px 0 0 10px;
}
.share-option .prev i {
    margin: -5px 10px 0 0;
}
.share-option .prev {
    float: left;
    color: #fff;
}
.share-option .next {
    float: right;
    color: #fff;
}
.share-option ul {
    display: inline-block;
}
.share-option ul li {
    margin: 0 0 0 30px;
    color: #fff;
    float: left;
}
.share-option ul li:first-child {
    margin: 0;
}
.share-option ul li i {
    margin: 0 10px 0 0;
    color: #fff;
}
.load-more {
    display: none;
}
.load-more-btn {
    text-align: center;
    margin: 0 0 20px;
    outline: none;
    position: relative;
}
.load-more-btn:focus {
    outline: none;
}
.load-more-btn::before {
    content: "";
    border-bottom: 1px solid #ededed;
    position: absolute;
    bottom: 18px;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    z-index: -1;
}
.load-more-btn span {
    width: 156px;
    background: #fff;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    border: 1px solid #ededed;
}

/****** Events Pages ***********************************************************
*********************************************************** Events Pages ******/


/* Event */

.event-holder .filter-options {
    margin: 0;
    padding-left: 0;
    padding-right: 0;
}
.change-view-list {
    float: right;
}
.change-view-list li {
    margin: 0 0 0 30px;
    overflow: hidden;
    float: left;
}
.change-view-list li:first-child {
    margin: 0;
}
.change-view-list li a i {
    margin: 0 10px 0 0;
    font-size: 18px;
    vertical-align: middle;
}
.event-aside {
    padding: 40px 0 0;
    position: relative;
}
.event-aside::before {
    content: "";
    position: absolute;
    right: 0;
    left: auto;
    top: 0;
    height: 999%;
    width: 999%;
    background: #f2f2f2;
    z-index: -1;
}
.event-aside h2 {
    font-size: 24px;
    text-transform: uppercase;
}
.event-aside .location-list li {
    margin: 0 0 15px;
}
.event-aside .location-list li:last-child {
    margin: 0;
}
.event-aside .location-list li.active a {
    border-right: 6px solid;
}
.event-aside .location-list li a:hover {
    border-right: 6px solid;
}
.event-post-list {
    padding: 60px 130px 0 0;
    margin: 0 0 60px 60px;
    border-left: 1px solid #e4e4e4;
}
.event-post-list > li {
    position: relative;
    padding: 0 0 0 60px;
}
.event-post-list > li::before {
    content: "\f073";
    font-family: fontawesome;
    position: absolute;
    left: -31px;
    top: 0;
    background: #fff;
    height: 62px;
    width: 62px;
    line-height: 62px;
    border: 2px solid #e7e7e7;
    border-radius: 100%;
    text-align: center;
    color: #000;
    font-size: 30px;
}
.event-post {
    padding-bottom: 0;
    padding: 10px;
    border-radius: 4px;
    margin: 0 0 40px;
    -webkit-box-shadow: 0px 0px 6px 0px rgba(50, 50, 50, 0.13);
    -moz-box-shadow: 0px 0px 6px 0px rgba(50, 50, 50, 0.13);
    box-shadow: 0px 0px 6px 0px rgba(50, 50, 50, 0.13);
}
.arthor-detail {
    overflow: hidden;
    padding: 15px 0;
}
.arthor-detail .arthor {
    position: relative;
    float: left;
    margin: 0 60px 0 0;
    padding: 0 0 0 70px;
    min-height: 55px;
}
.arthor-detail .arthor img {
    border-radius: 100%;
    position: absolute;
    left: 0;
}
.arthor-detail .arthor h6 {
    color: #383838;
    padding: 10px 0 0;
    font-size: 14px;
    margin: 0 0 5px;
}
.arthor-detail .arthor span {
    color: #999;
    display: block;
}
.arthor-detail .btn {
    float: right;
    font-weight: bold;
}
.arthor-detail .btn:hover {
    color: : #fff;
}
.donate-prog {
    float: left;
    width: 200px;
    padding: 10px 0 0;
}
.donate-prog .progress {
    height: 10px;
    border-radius: 10px;
    border: 0;
    background: #dfdfdf;
    margin: 0;
    width: 100%;
}
.donate-prog label {
    margin: 0 0 7px;
    display: block;
}
.location-date {
    overflow: hidden;
    padding: 20px 0;
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
}
.location-date ul li {
    float: left;
    width: 33.33%;
    border-left: 1px solid #efefef;
    padding: 0 0 0 20px;
}
.location-date ul li:first-child {
    border: 0;
}
.location-date ul li h6 {
    font-size: 14px;
    margin: 0 0 5px;
}
.location-date ul li span {
    font-size: 16px;
    color: #666;
}
.speakers-list {
    padding: 15px 0;
}
.speakers-list ul {
    overflow: hidden;
    float: left;
}
.speakers-list ul li {
    float: left;
    margin: 0 0 0 8px;
}
.speakers-list ul li img {
    border-radius: 100%;
}
.speakers-list ul li:first-child {
    margin: 0 20px 0 0;
    color: #383838;
    font-weight: bold;
    line-height: 38px;
}
.speakers-list ul li .plus {
    height: 38px;
    line-height: 38px;
    width: 38px;
    border-radius: 100%;
    color: #fff;
    text-align: center;
}
.speakers-list > a {
    float: right;
    color: #dfdfdf;
    font-size: 30px;
    line-height: 38px;
    margin: 0 20px 0 0;
}
.event-img {
    position: relative;
}
.event-img figcaption {
    position: absolute;
    bottom: 30px;
    left: 30px;
}
.event-img figcaption h2 {
    margin: 0;
    font-size: 50px;
    color: #fff;
    text-transform: uppercase;
}
.campgain-list-holder.style-2 {
    position: static;
    margin: 0;
    border-top: 1px solid #ecedee;
    border-bottom: 1px solid #ecedee;
    margin: 0 0 60px;
}
.campgain-list-holder.style-2 .campgain-list li {
    border-bottom: 1px solid #ecedee;
}
.campgain-list-holder.style-2 .donation-target.m-left {
    margin-right: 60px;
}
.campgain-list-holder.style-2 .campgain-list .detail h4 {
    text-transform: uppercase;
}
.campgain-list-holder.style-2 .campgain-list,
.campgain-list-holder.style-2 .campgain-list::before {
    background: none;
}

/* Event Detail */

.inner-banner.event-detail .page-heading ul {
    display: inline-block;
}
.inner-banner.event-detail .page-heading ul li {
    float: left;
    margin: 0 0 0 10px;
}
.inner-banner.event-detail .page-heading ul li:first-child {
    margin: 0;
}
.inner-banner.event-detail .page-heading ul li a {
    padding: 10px 20px;
    border-radius: 30px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
}
.inner-banner.event-detail .page-heading ul li a i {
    margin: 0 10px 0 0;
    font-size: 18px;
    vertical-align: middle;
}
.event-detail.style-2 {
    padding: 0;
}
.event-single-title {
    padding: 20px 0;
    border-right: 1px solid #efefef;
    position: relative;
}
.event-single-title h5 {
    text-transform: uppercase;
    margin: 0;
    padding: 0 0 0 70px;
}
.event-single-title img {
    position: absolute;
    left: 0;
}
.donate-prog.style-2 {
    width: 100%;
}
.event-single-detail .btn.light {
    margin: 10px 0 0;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0 22px;
}
.event-single-detail .btn.light:hover {
    color: #fff;
}
.event-aside.style-2 {
    padding: 0;
    border-right: 1px solid #f7f7f7;
}
.arthor-detail.style-2 {
    padding: 40px 0 30px;
    margin: 0 0 30px;
    border-bottom: 1px solid #ebebeb;
}
.arthor-detail.style-2 .arthor {
    margin: 0;
}
.arthor-detail.style-2 .arthor h6 {
    font-size: 18px;
}
.event-aside.style-2 .detail-list {
    margin: 0 0 30px;
}
.event-aside.style-2 .detail-list li {
    margin: 0 0 30px;
}
.event-aside.style-2 .detail-list li h6 {
    font-size: 14px;
    text-transform: uppercase;
    margin: 0 0 5px;
}
.event-aside.style-2 .detail-list li span {
    font-size: 16px;
    color: #666;
}
.event-aside.style-2 .detail-list li:last-child {
    margin: 0;
}
.event-aside.style-2 .btn-list {
    padding: 0 30px 0 0;
}
.event-aside.style-2 .btn-list li {
    margin: 0 0 15px;
    float: none;
    width: 100%;
}
.event-aside.style-2 .btn-list li .btn {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
}
.event-aside.style-2 .btn-list li .btn.bg-1 {
    background: #17597e;
}
.event-aside.style-2 .btn-list li .btn.bg-2 {
    background: #7edf7b;
}
.event-aside.style-2 .btn-list li:last-child {
    margin: 0;
}
.event-content.detail {
    box-shadow: none;
    padding: 50px 0;
}
.event-content.detail article {
    margin: 0 0 40px;
}
.event-content.detail article p {
    margin: 0 0 30px;
}
.event-content.detail article p b {
    font-size: 16px;
}
.event-content.detail article ul {
    float: left;
    width: 100%;
}
.event-content.detail article ul li {
    margin: 0 0 10px;
    position: relative;
    padding: 0 0 0 20px;
}
.event-content.detail article ul li::before {
    content: "\f111";
    font-family: fontawesome;
    position: absolute;
    font-size: 6px;
    left: 0;
    top: 5px;
    color: #17597e;
}
.event-video {
    margin: 0 0 40px;
}
.event-video iframe {
    height: 480px;
}
.event-widget {
    margin: 0 0 50px;
}
.event-widget::after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.event-widget > h4 {
    font-size: 18px;
    text-transform: uppercase;
    margin: 0 0 30px;
}
.speakers-grid figure {
    margin: 0 0 20px;
}
.speakers-grid .speaker-detail h4 {
    margin: 0;
}
.speakers-grid .speaker-detail ul {
    padding: 10px 0 0;
    margin: 10px 0 0;
    border-top: 1px solid #e9e9e9;
    overflow: hidden;
}
.speakers-grid .speaker-detail ul li {
    color: #666;
}
.s-recent-news.event-lineup {
    margin: 0 0 0 150px;
}
.s-recent-news.event-lineup ul li {
    margin: 0 0 60px;
    padding: 0 0 0 50px;
}
.s-recent-news.event-lineup ul li::after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.s-recent-news.event-lineup ul li p:last-child {
    margin: 0;
}
.s-recent-news.event-lineup ul li h5 {
    margin: 0;
}
.s-recent-news.event-lineup ul li span {
    color: #666;
    font-size: 14px;
}
.s-recent-news.event-lineup ul li em {
    font-style: normal;
    color: #666;
    position: absolute;
    left: -150px;
    top: -5px;
}
.gallery-figure.style-2 {
    border: 0;
    margin: 10px 0;
}
.pricing {
    border: 3px solid #ecf0f6;
}
.pricing h6 {
    text-align: center;
    padding: 15px 0;
    background: #97a2b2;
    color: #ecf0f6;
    margin: 0;
    text-transform: uppercase;
    font-size: 14px;
}
.pricing h3 {
    padding: 50px 0;
    background: #ecf0f6;
    font-size: 40px;
    margin: 0;
    color: #97a2b2;
    text-align: center;
}
.pricing h3 span {
    display: block;
    font-size: 14px;
}
.pricing ul {
    padding: 40px 20px;
}
.pricing ul li {
    margin: 0 0 15px;
    position: relative;
    padding: 0 0 0 20px;
    font-size: 13px;
    color: #666;
}
.pricing ul li:last-child {
    margin: 0;
}
.pricing ul li::before {
    content: "\f111";
    font-family: fontawesome;
    position: absolute;
    font-size: 6px;
    left: 0;
    top: 5px;
    color: #17597e;
}
.pricing .btn {
    border-left: 0;
    border-right: 0;
    text-transform: uppercase;
    font-weight: bold;
    color: #97a2b2;
}
.event-widget .facts-lsit {
    overflow: hidden;
    padding: 30px;
}
.event-widget .facts-lsit li {
    width: 33.33%;
}
.event-reviews-slider {
    margin: 0 0 30px;
}
.event-reviews-slider li {
    text-align: center;
    display: inline-block;
}
.event-reviews-slider li h4 {
    font-size: 18px;
    padding: 0 0 20px;
    text-transform: uppercase;
    position: relative;
}
.event-reviews-slider li h4::before {
    content: "";
    position: absolute;
    left: 50%;
    margin: 0 0 0 -70px;
    border-bottom: 2px solid #bebebe;
    width: 130px;
    bottom: 0;
}
.event-reviews-slider li blockquote {
    padding: 0 30px;
    font-size: 18px;
    position: relative;
}
.event-reviews-slider li blockquote::before,
.event-reviews-slider li blockquote::after {
    font-family: fontawesome;
    position: absolute;
    color: #97a2b2;
}
.event-reviews-slider li blockquote::before {
    content: "\f10d";
    left: 0;
}
.event-reviews-slider li blockquote::after {
    content: "\f10e";
    right: 0;
}
.event-reviews {
    text-align: center;
}
.event-reviews-thumb {
    display: inline-block;
}
.event-reviews-thumb li {
    display: inline-block;
    cursor: pointer;
    opacity: 0.5;
    border-radius: 100%;
}
.event-reviews-thumb li.slick-current {
    opacity: 1;
}
.event-map.style-2 {
    height: 500px;
    position: relative;
    z-index: 2;
}

/* Progress Bar */

.tc-skillgroup h4 {
    margin: 0;
}
.tc-skillgroup {
    float: left;
    width: 100%;
}
.tc-skill {
    float: left;
    width: 100%;
    margin: 0 0 30px;
}
.tc-skill:last-child {
    margin: 0;
}
.tc-skillname {
    display: block;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 5px;
    padding: 0 0 13px;
}
.tc-skillholder {
    background: #d8d8d8;
    float: left;
    width: 100%;
    position: relative;
}
.tc-skillbar {
    height: 5px;
    float: left;
    transition: none;
}
.tc-per {
    right: -22px;
    top: -38px;
    height: 30px;
    width: 45px;
    color: #ccc;
    font-size: 16px;
    font-weight: 600;
    position: absolute;
    text-align: center;
    line-height: 30px;
    right: 0;
}
.theme-pannels {
    margin: 0 200px;
    border-radius: 4px;
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.35);
    -moz-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.35);
    box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.35);
}
.theme-pannels > h3 {
    margin: 0;
    padding: 30px 20px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}
.theme-pannels .panel-heading h5 {
    background: #fff;
    font-size: 14px;
    color: #202020;
}
.theme-pannels .panel-heading {
    border-radius: 0;
    padding: 0;
}
.theme-pannels .panel-heading a {
    padding: 25px;
    outline: none;
}
.theme-pannels .panel-body {
    padding: 25px;
}
.theme-pannels.panel-group .panel + .panel {
    margin: 0;
}
.theme-pannels .panel {
    border: 0;
    border-radius: 0;
}
.theme-pannels .panel-heading {
    border-top: 1px solid #f2f2f2;
}
.theme-pannels .panel-body p {
    margin: 0;
    font-size: 16px;
    color: #41474a;
}
.theme-pannels .panel-heading a {
    position: relative;
}
.theme-pannels .panel-heading a[aria-expanded="true"]::before {
    opacity: 0;
}
.theme-pannels .panel-heading a:after,
.theme-pannels .panel-heading a:before {
    color: #848484;
    content: "-";
    font-size: 30px;
    height: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: calc(50% - 12px);
    width: 50px;
    font-weight: 100
}
.theme-pannels .panel-heading a:before {
    content: "+";
    opacity: 1;
}
.theme-pannels .panel-heading a[aria-expanded="true"]::after {
    opacity: 1;
}
.event-reviews.style-2 {
    padding: 0 200px;
}
.brands-icon.style-2 {
    border-top: 3px solid #f2f2f2;
}
.brands-icon.style-2 .brands-icon-slider li a {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: 0.5
}
.brands-icon.style-2 .brands-icon-slider li a:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
    opacity: 1;
}

/****** Donation ***********************************************************
*********************************************************** Donation ******/

.inner-banner.donation {
    min-height: 480px;
}
.dontaio-section.style-2 .select-amount label span {
    font-size: 22px;
    font-weight: 300;
}
.dontaio-section.style-2 .select-amount {
    height: 85px;
}
.dontaio-section.style-2 .donate-form.style-2 .qutaion {
    font-weight: 300;
}
.donate-form.style-2 {
    background: #fff;
    padding: 0;
    border-radius: 4px;
    overflow: hidden;
    margin: -124px 0 0;
    position: relative;
    z-index: 1;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.38);
    -moz-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.38);
    box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.38);
}
.collect-donation {
    border-bottom: 1px solid #d0d2d7;
    overflow: hidden;
}
.collect-donation ul li {
    text-align: center;
    padding: 30px 0;
    float: left;
    width: 33.33%;
    border-left: 1px solid #d0d2d7;
}
.collect-donation ul li:first-child {
    border: 0;
}
.collect-donation ul li h2 {
    color: #999;
    font-size: 30px;
    margin: 0;
}
.collect-donation ul li span {
    font-size: 14px;
    text-transform: uppercase;
    color: #999;
    margin: 0 0 10px;
    display: block;
}
.donate-form.style-2 .btn-list {
    margin: 0 0 30px;
    overflow: hidden;
}
.donate-form.style-2 .btn-list li {
    margin: 0;
    width: 50%;
}
.donate-form.style-2 .form-title {
    margin: 0 0 30px;
}
.donate-form.style-2 .form-title h2 {
    margin: 0;
    font-size: 24px;
    text-transform: uppercase;
}
.donate-form.style-2 .select-amount-holder {
    margin: -10px;
}
.donate-form.style-2 .select-amount-holder .select-amount {
    margin: 10px;
    width: 116px;
}
.donate-form.style-2 .or {
    border-bottom: 1px solid #e6e6e6;
    margin: 30px 0;
    display: block;
    position: relative;
}
.donate-form.style-2 .or::before {
    content: "or";
    position: absolute;
    left: 50%;
    margin: 0 0 0 -20px;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    background: #fff;
    border: 1px solid #e6e6e6;
    text-align: center;
    line-height: 40px;
    text-transform: uppercase;
    top: -20px;
}
.donate-form.style-2 .enter-your-own {
    width: 100%;
}
.donate-form.style-2 .enter-your-own input {
    text-align: center;
    height: 76px;
    line-height: 76px;
    font-size: 40px;
    margin: 0 0 10px;
}
.donate-form.style-2 label {
    font-size: 14px;
    color: #131e36;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 0 10px;
}
.donate-form.style-2 .qutaion {
    margin: 0 0 30px;
}
.donate-form.style-2 .btn-list.style-2 {
    margin: 0;
}
.donate-form.style-2 .btn-list.style-2 li {
    margin: 0 0 0 30px;
    width: 47.7%;
}
.donate-form.style-2 .btn-list.style-2 li:first-child {
    margin: 0;
}
.padding-in {
    padding: 50px 100px;
}
.donaters-section {
    background: #f1f1f1;
    position: relative;
}
.donaters-section::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 100%;
    height: 50px;
    background: #f1f1f1;
}
.donaters-section > .btn {
    background: #d4d4d4;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}
.donter-holder {
    padding: 40px 0;
}
.donter-holder > h5 {
    text-transform: uppercase;
    color: #000;
}
.donter-holder > ul > li {
    padding: 20px 0;
    border-top: 1px solid #dadbde;
    overflow: hidden;
}
.donter-holder ul li ul {
    float: right;
}
.donter-holder ul li ul li {
    float: left;
    margin: 0 0 0 100px;
    font-size: 16px;
    color: #131e36;
    line-height: 57px;
}
.donter-holder ul li ul li:last-child {
    font-size: 20px;
}
.donation-sender {
    position: relative;
    padding: 0 0 0 100px;
    min-height: 69px;
    float: left;
}
.donation-sender img {
    position: absolute;
    left: 0;
    border-radius: 100%;
}
.donation-sender h4 {
    margin: 20px 0 0;
    color: #131e36;
    font-weight: bold;
    text-transform: uppercase;
}
#sending-form {
    margin: 200px 0 0;
}
#sending-form .contact-form {
    padding: 30px;
}
